html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('skz-wallpaper.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    
}

#logo {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    
}

#welcome {
    border: solid black 1px;
    width: 310px;
    border-radius: 15px;
    padding: 16px;
    padding-top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    background-color: rgba(91, 91, 91, 0.25);
    color: #fff;
    box-shadow: black 4px 4px 8px;
    p {
    font-family: 'Caveat Brush', cursive;
    margin: 0;
    }

    p code {
        font-family: 'Fira Code', monospace;
    }
}

h1 {
    font-family: 'Playpen Sans Hebrew', sans-serif;
    font-size: 2.5em;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 35px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
}

.navbar p {
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.125);
    padding: 4px 12px;
    border-radius: 16px;
    position: absolute;
    top: 3px;
    margin: 0;
}

#icon {
    left: 0px;
}

#name {
    left: 50px;
    cursor: pointer;
}

#date {
    right: 100px;
}

#timeElement {
    right: 0px;
}

#quote {
    right: 600px;
}

#welcomeheader {
    margin: 0;
    cursor: grab;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    /*border-bottom: rgb(0, 0, 0) 1px solid;*/
    margin-bottom: 5px;
    justify-content: space-between;
    
    p {
        margin: 0;
        color: #252121;
        font-weight: 500;
    }
}

#welcomeheader.grabbing {
    cursor: grabbing;
}

.closebutton { 
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: solid 1px rgba(0, 0, 0, 0.25);
    background-color: #ec6b5e;
    border-radius: 16px;
    margin-left: -9px;
    margin-top: 6px;
}

.window {
  border: solid;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  position: absolute;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.125);
}

.windowheader {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: grab;
  justify-content: space-between;
  margin-top: 8px;
}

.headertext {
  margin: 0px;
  color: #fff;
  font-weight: 500
}